extends layout

block content
  div.container-xl
    a(href="/") ⬅ Home

    div.confirmation-page
      script.
        var countDownDate = new Date().getTime() + 4000;

        var x = setInterval(function() {
          var now = new Date().getTime();
          var distance = countDownDate - now;
          var seconds = Math.floor((distance % (1000 * 60)) / 1000);
            
          if (distance < 1) {
            document.getElementById("seconds").innerHTML = "0s ";
            window.location.replace("/");
            clearInterval(x);
          } else {
            document.getElementById("seconds").innerHTML = seconds + "s ";
          }
        }, 1000);

      h1 Your message has been submitted!
      div(id="redirect-message")
        span This page will redirect to the Housing Link page in 
        span#seconds 3s
