body {
  padding: 30px;
  font-size: 15px;
  line-height: 1.7;
  font-family: 'Inter', sans-serif;
  /* font-weight: 300; */
  font-style: normal;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

/* a {
  text-decoration: none !important;
}

a:hover {
  color:#daa900 !important;
}

ul {
  list-style: none;
} */

h1 {
  font-size: 1.5em;
  text-align: center;
}

.container-fluid {
  padding-left: 2px;
  padding-right: 2px;
}

.container-xl {
  max-width: none;
}

.applicant-grid {
  height: 100%;
  width: 100%;
  display: grid;
  column-gap: 30px;
  row-gap: 30px;
}

@media screen and (min-width: 500px) {
  .applicant-grid {
    grid-template-columns: repeat(2, 0.5fr);
  }
}

@media screen and (min-width: 750px) {
  .applicant-grid {
    grid-template-columns: repeat(3, 0.5fr);
  }
}

@media screen and (min-width: 1200px) {
  .applicant-grid {
    grid-template-columns: repeat(4, 0.5fr);
  }
}

.applicant-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #888;
  border-radius: 10px;
  padding: 15px;
}

.applicant-card * {
  display: inline;
  margin-bottom: 2.5px;
  color: #1a1a1a;
}

.applicant-card p {
  word-wrap: break-word;
  font-weight: 300;
}

.applicant-card__title {
  font-weight: 500;
}

.login {
  margin-top: 20px;
  text-align: center;
}

.login__form__title {
  text-align: left;
}

.login__form * {
  text-align: left;
  display: block;
}

.login__input {
  margin-bottom: 20px;
}

.login__form .btn {
  background-color: #eee;
}

.login__form .btn:hover {
  background-color: #ddd;
}