/* GLOBAL */

.body {
  padding: 30px;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.5px;
  font-family: 'Inter', sans-serif;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background-color: rgba(218, 215, 205, 0.2);
}

a {
  text-decoration: none;
}

button {
  all: unset;
  cursor: pointer;
}

.btn--submit {
  background-color: #add8e6;
}

.footer {
  margin-top: 20px;
  text-align: center;
}

h1 {
  font-size: 1.5em;
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.row {
  display: block;
  margin-bottom: 50px;
}

#redirect-message {
  text-align: center;
}

/* APPLICANT GRID */

.applicant-grid {
  height: 100%;
  margin: 0 30px;
  display: grid;
  column-gap: 30px;
  row-gap: 30px;
}

@media screen and (min-width: 500px) {
  .applicant-grid {
    grid-template-columns: repeat(2, 0.5fr);
  }
}

@media screen and (min-width: 750px) {
  .applicant-grid {
    grid-template-columns: repeat(3, 0.5fr);
  }
}

@media screen and (min-width: 1200px) {
  .applicant-grid {
    grid-template-columns: repeat(4, 0.5fr);
  }
}

.btn-edit {
  all: unset;
  color: #007bff;
}

/* APPLICANT CARD */
.applicant-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #1a1a1a;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
}

.applicant-card * {
  display: inline;
  margin-bottom: 2.5px;
}

.applicant-card p {
  font-weight: 400;
}

.applicant-card span {
  font-weight: 600;
}

.applicant-card__connect-btn {
  background-color: #add8e6;
  margin: auto 0 0 0;
}

/* APPLICANT FORM */
.listing__form {
  display: inline-block;
  margin: 20px 25%;
  width: 50%;
  text-align: left;
}

.applicant-form__guidelines {
  background-color: #FFF;
  padding-top: 25px;
  padding-bottom: 15px;
  padding-left: 25%;
  padding-right: 25%;
  width: 100%;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
}

.listing__form label {
  line-height: 1;
}

.listing__form > div {
  background-color: #FFF;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
}

.listing__form__section {
  width: 100%;
  display: inline-block;
}

.listing__form__section > div {
  display: inline-block;
  max-width: 24%;
  margin-right: 1.25%;
}

.listing__form__section > div:last-child {
  margin-right: 0;
}

.listing__form__name-section {
  width: 100%;
  display: flex;
  gap: 1.25%;
}

.listing__form__name-section > div {
  flex-grow: 1;
}

.listing__input {
  margin-bottom: 10px;
}

.listing__input[type=text], .listing__input[type=number] {
  width: 100%;
}

.listing__input[type=radio], .listing__input[type=checkbox] {
  margin: 0 10px;
}

/* CONFIRMATION PAGE */
.confirmation-page {
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* DASHBOARD */
.dashboard {
  font-size: 0.8em;
  line-height: 1.2;
  overflow: hidden;
  table-layout: fixed;
}

.dashboard .section .table {
  margin: 40px auto;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 5px;
  font-size: 90%;
  border-radius: 8px;
  -moz-border-radius: 8px;
  border: 1px solid #e0e0d0;
}

.dashboard .section .table tr,
.dashboard .section .table td {
  font-family: "Helvetica", Helvetica, sans-serif;
  font-weight: 200;
  font-size: 105%;
  padding: 18px 10px;
  border: none;
}

.dashboard .section .table .column--status {
  width: 150px;
}

.admin-dashboard table,
th,
td {
  overflow: scroll;
  border: 1px solid #bbb;
}

.admin-dashboard tr {
  border-radius: 10px;
}

.admin-dashboard__approve-btn {
  color: #218021
}

.dashboard-btn .approve {
  color: #218021
}

.admin-dashboard__delete-btn {
  color: #961a1a
}

.admin-dashboard__archive-btn {
  color: #111;
}

th {
  font-size: 95%;
  padding: 10px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #e0e0d0;
  color: #ababab;
}

td {
  font-family: "Helvetica", Helvetica, sans-serif;
  font-weight: 200;
  font-size: 105%;
  padding: 18px 10px;
  border: none;
}

.status-column {
  width: 150px;
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-right: 1px solid #d2d2d0;
}

/* HEADER */
.header {
  margin: -30px 0 0 0;
  background-color: #6a6484;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.header .logo>img {
  margin: 10px 30px;
  max-width: 100px;
  max-height: 100px;
}

.header .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: flex-end;
  margin-left: auto;
}

.header .menu .menu-item a {
  font-size: x-large;
  padding: 30px;
  color: #eaeaea;
}

.header .menu .menu-item--search {
  transform: rotate(45deg);
}

/* MODAL */
#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

#modal-content {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
  margin: 5% auto;
  border: 1px solid #888;
  width: 70vw;
}

#modal-close {
  cursor: pointer;
  align-self: flex-end;
  color: #aaa;
  font-size: 36px;
  font-weight: bold;
  margin-right: 12px;
}

.modal-form {
  background-color: blue;
  color: red;
}

#story {
  height: auto;
}

/* LOGIN */
.login__form__title {
  text-align: left;
}

.login__form * {
  text-align: left;
  display: block;
}

.login__input {
  margin-bottom: 20px;
}

.login__form .btn {
  background-color: #eee;
}

.login__form .btn:hover {
  background-color: #ddd;
}

/* GLOBAL OVERRIDES */
.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

.container-xl {
  max-width: none;
}

.disabledLink {
  cursor: default;
  color: #aaa;
}

.disabledLink:hover {
  cursor: default;
  color: #aaa;
}