body {
  padding: 30px;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.5px;
  font-family: 'Inter', sans-serif;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  background-color: rgba(218, 215, 205, 0.2);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* a {
  text-decoration: none !important;
}

a:hover {
  color:#daa900 !important;
}

ul {
  list-style: none;
} */

h1 {
  font-size: 1.5em;
  text-align: center;
}

.container-fluid {
  padding-left: 2px;
  padding-right: 2px;
}

.container-xl {
  max-width: none;
}

.admin-dashboard {
  font-size: 0.8em;
  line-height: 1.2;
  overflow: hidden;
  table-layout: fixed;
}

.admin-dashboard > table {
  width: 100%;
}

.admin-dashboard table, th, td {
  overflow: scroll;
  border: 1px solid #bbb;
  border-collapse: collapse;
  padding: 5px;
}

.admin-dashboard tr:nth-child(even) {
  background-color: #f2fafa;
}

.admin-dashboard tr:nth-child(odd) {
  background-color: #fbfbfb;
}

.admin-dashboard__approve-btn {
  color: #218021
}

.admin-dashboard__remove-btn {
  color: #961a1a
}

.applicant-grid {
  height: 100%;
  width: 100%;
  display: grid;
  column-gap: 30px;
  row-gap: 30px;
}

@media screen and (min-width: 500px) {
  .applicant-grid {
    grid-template-columns: repeat(2, 0.5fr);
  }
}

@media screen and (min-width: 750px) {
  .applicant-grid {
    grid-template-columns: repeat(3, 0.5fr);
  }
}

@media screen and (min-width: 1200px) {
  .applicant-grid {
    grid-template-columns: repeat(4, 0.5fr);
  }
}

.applicant-card {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
}

.applicant-card * {
  display: inline;
  margin-bottom: 2.5px;
  color: #1a1a1a;
}

.applicant-card p {
  word-wrap: break-word;
  font-weight: 400;
}

.applicant-card__title {
  font-weight: 600;
}

.btn-edit {
  all: unset;
  color: #007bff;
}

div.applicant-form {
  display: block;
  width: 100vw;
}

.hero {
  height: 60vh;
  display: flex;
  flex-direction: row;
  text-align: center;
}

.hero > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50vw;
  padding: 60px;
}

.hero-left {
  background-color: #7aa852;
  color: #ffffff;
}

.hero-right {
  background-color: #ffffff;
  color: #7aa852;
}

.hero-btn {
  background-color: #add8e6;
}

.connect-btn {
  background-color: #add8e6;
  margin: auto 0 0 0;
}

.listing__form {
  display: inline-block;
  margin-top: 20px;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  text-align: left;
}

.listing__form__guidelines {
  background-color: #FFF;
  padding-top: 25px;
  padding-bottom: 15px;
  padding-left: 25%;
  padding-right: 25%;
  width: 100%;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
}

.listing__form label {
  line-height: 1;
}

.listing__form > div {
  background-color: #FFF;
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.25);
}

.listing__form__section {
  width: 100%;
  display: inline-block;
}

.listing__form__section > div {
  display: inline-block;
  max-width: 24%;
  margin-right: 1.25%;
}

.listing__form__section > div:last-child {
  margin-right: 0;
}

.listing__form__name-section {
  width: 100%;
  display: flex;
  gap: 1.25%;
}

.listing__form__name-section > div {
  flex-grow: 1;
}

.listing__input {
  margin-bottom: 10px;
  /* width: 100%; */
  /* display: inline-block; */
}

.listing__input[type=text], .listing__input[type=number] {
  width: 100%;
}

.listing__input[type=radio], .listing__input[type=checkbox] {
  margin: 0 10px;
}

.listing__input.submit {
  background-color: #add8e6;
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

#modal-content {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
  margin: 5% auto;
  border: 1px solid #888;
  width: 70vw;
}

#modal-close {
  cursor: pointer;
  align-self: flex-end;
  color: #aaa;
  font-size: 36px;
  font-weight: bold;
  margin-right: 12px;
}

.modal-form {
  background-color: blue;
  color: red;
}

#story {
  height: auto;
}

.login {
  margin-top: 20px;
  text-align: center;
}

.login__form__title {
  text-align: left;
}

.login__form * {
  text-align: left;
  display: block;
}

.login__input {
  margin-bottom: 20px;
}

.login__form .btn {
  background-color: #eee;
}

.login__form .btn:hover {
  background-color: #ddd;
}

.row {
  display: block;
  margin-bottom: 50px;
}